<style type="text/css">
    .layer {
        background-image: url('/images/orange_bg.jpg');

        width: 300px;
        height: 250px;
    }

      .pic {
          width: 180px;
          height: 200px;

          /*background-image: url('/images/gradient.jpg');*/
          background-color: rgba(0,0,0,0.2);
      }


</style>

<div class="layer">

    <img class='pic' src="/images/blackberry-bold-9000.png">

</div>