<html>
<head>
</head>
<body>
<img src="http://3.bp.blogspot.com/_S_K-K9nthdY/S2xffccrQ6I/AAAAAAAAAT0/RK9OjcPC35o/s320/peugeot-modif-innovative-design-for-a-car-that-can-squeeze-for-tight-space-praking3.jpg" onclick="window.location='tel://<%= @params["tel"]%>'"></img>
</body></html>
