<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<script type="text/javascript">
    var demo_layer_url = '<%= @layer_url %>';
</script>

<script type="text/javascript" src="/live/layer.js"></script>

<h1>BMW’s dazzling i cars: More carbon fiber Chevy Volt than Nissan Leaf</h1>
By Bill Howard on August 1, 2011 at 12:48 pm3 Comments

Share This Article


<p>On the matter of <span class='YLight'>green cars</span> for the very near future, BMW has spoken, and the word is REx, or range extending. BMW’s dazzling new “i” cars will have electric motors and small gasoline engines rather than electric motors only that limit you to 75 to 100 miles. That’s a sudden shift for the smaller BMW i3 city car, which was to have been an electric vehicle (EV) only and now will be offered with a gasoline engine option. The BMW i8 sports car was always designed as battery-mit-gasoline-engine vehicle. With their swoopy carbon fiber bodies, both look like the auto show concepts that never get beyond auto shows. In fact, they are just two years from production, and they are likely to look pretty much like the concept cars unveiled Friday in Munich (video and gallery below).</p>

<p>The BMW i3 is a four-passenger city car 151 inches long, slightly longer than a Mini Cooper, that weighs just 1,250 kilograms or 2,756 pounds, about 600 pounds lighter than the Nissan Leaf electric vehicle that is two feet longer. The i3 length suggests the back seat is for occasional use. The i3 carbon fiber body will be incredibly strong, incredibly light, and incredibly difficult and costly to form. BMW isn’t talking price on the i3, but it could easily be a $50,000 car with the carbon fiber and the BMW brand premium. (The Nissan Leaf base price is $33,000; the Chevrolet Volt is $41,000.) BMW projects 80-100 miles on electric power, six hours to fully charge the battery, and one hour to 80% charge with a special charger. The hybrid version might have a smaller battery pack to make room for the gasoline engine and fuel tank.</p>

The exact details aren’t yet known, but it’s very likely that the i series will also have heavy doses of technology to help with automatic parking, telematics to help you avoid traffic jams at least in theory (try finding an uncrowded alternate route in Beijing), and front protection to identify and warn of possible collisions, like Volvo City Safety.

As BMW expands, it has bought up existing brands and created new sub-brands. It bought Rover (didn’t work; jettisoned), Mini (smashing success), and Rolls-Royce (also doing well). To expand to newer markets, especially the big cities of Asia, BMW created the Megacity brand, which has been renamed the i brand, a troublesome name for everyone whose English-language spell-checker autocorrects i to I. But at least it’s short and snappy and sounds like there’s an Apple connection.


BMW i3 city car, BMW i8 sports car

BMW i8, BMW i3

BMW i8


BMW i3 city car

BMW i car cockpit

BMW i8 kidney grille


Why the gasoline engine on the i3? When BMW showed concepts of the i cars as far back as 2009, the city car (i3) was described as an electric vehicle (EV). BMW in 2008 built 400 Mini E electric prototypes that were quick, quiet, fun, and didn’t go more than 100 miles. According to people who won a chance to be test-lease-drivers, a lot of them wanted the Mini E to be their only car — notwithstanding that the back seat was now full of batteries and the trunk held only a couple bags of groceries — and needed more than 100 miles of range. Thus BMW’s announcement that there’d be two versions of the i3, one the expected EV that would be a lightweight Nissan Leaf (our words, certainly not BMW’s), plus the REx version that adds a range-extending gasoline engine, making it more like the pioneering Chevrolet Volt.

