<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
   
 

 
<!-- Nothing Here -->
 

 <head>
<title>KAKE - Mobile Site</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Cache-Control" content="no-store"/>
<meta http-equiv="Cache-Control" content="max-age=0"/>
<meta name="viewport" content="width=320" />
<meta name="viewport" content="initial-scale=1, user-scalable=false" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<script type="text/javascript">

    $KKK = $;
    var demo_layer_url = '<%= @layer_url %>';
</script>

<script type="text/javascript" src="/live/layer.js"></script>


<link rel="apple-touch-icon" href="http://gray.ftp.clickability.com/kakewebftp/KAKEMobile.png" />
<style type="text/css">
body {
	margin:0; 
	padding:0; 
	font-family:Arial; 
	font-size:small; 
	background-color:#ffffff;
	color:#000000;;
	text-align:left;
}
	
hr {
	height:1px;
	color:#999999;
	background-color:#999999;
}
	
a {
	text-decoration:none; 
	border:none;
	color: #000000;
}

img {border:none; max-width:320px;}

.links {
    text-decoration:none;
}	
	
.title {
                      color: #000000;
 	font-weight:bold; 
	text-align:left;
}

.header {
	background-color: #990000; 
	color: #ffffff; 
	font-weight:bold; 
	padding:3px; 
	font-size: small;
}

.backLink {
	font-size:small;
	padding:2px 0 4px 2px;
	font-weight:bold;
	color:#0000FF;
}

.backLink a {
	font-size:small;
	padding:2px 0 4px 2px;
	font-weight:bold;
	color:#0000FF;
}

.backLink a:visited {
	font-size:small;
	padding:2px 0 4px 2px;
	font-weight:bold;
	color:#0000FF;
}

.topstory {
	font-weight:bold; 
}
	
.storyTime {font-size:8pt; font-style:italic;}

.headlines {font-size:8pt}

.headerNavRow {
	background-color:#cccccc; 
	text-align:center; 
	font-size:8pt;
	cursor:pointer;
	padding:1px;
	text-decoration:underline;
}

.navLinks {
	padding-bottom:5px;
	text-align:left;
	vertical-align:top;
	width:33%;
}

.navLinks a {
	font-size:8pt;
}

.crumbs {
	font-size:9pt;
	color:#95A0AA;
	padding-bottom:5px;
}

.crumbs a {
	color:#000000;
	text-decoration:none;
	border-bottom:1px solid #95A0AA;
}
</style>

<script type="text/javascript">
function createCookie(name,value,days,domain) {
	if (days) {
		var date = new Date();
		date.setTime(date.getTime()+(days*24*60*60*1000));
		var expires = "; expires="+date.toGMTString();
	}
	else var expires = "";
	document.cookie = name+"="+value+expires+"; path=/;domain=."+domain;
}

function eraseMobileCookie() {
	var domain = document.domain;
	createCookie("click_mobile","",-1,domain);
}

function viewNonMobileSite() {
	var domain = document.domain;
	createCookie("click_mobile","0",1,domain);
}
</script>
</head>
<body>
<div style="width:100%; max-width:320px; margin:auto; background-color:#ffffff;">
<!-- Mobile Section: /mobi -->
      



	<div style="text-align:center; padding:5px 0"><a href="http://www.kake.com/mobi"><img border="0" src="http://media.graytvinc.com/designimages/GoKAKE1.jpg" width="240" height="61" /></a></div>
			















<!-- Ad Zone: 900 -->
<div style="width:100%; text-align:center; padding:5px 0">
<!-- begin ad tag-->
		<div style="text-align:center; width:100%; padding-bottom:2px;">
		<script language="JavaScript" src="http://ad.doubleclick.net/adj/wn.loc.kake/mobi;wnsz=900;sz=120x40;ord=[timestamp]?" type="text/javascript"></script>
		<noscript><a href="http://ad.doubleclick.net/jump/wn.loc.kake/mobi;wnsz=900;sz=120x40;ord=[timestamp]?" target="_blank"><img src="http://ad.doubleclick.net/ad/wn.loc.kake/mobi;wnsz=900;sz=120x40;ord=[timestamp]?" width="120" height="40" border="0" alt=""></a></noscript>
		</div>
<!-- End ad tag -->
</div>



<!-- Nothing Here -->



	

	

	
	
	
		
				
		
			
		<div class="backLink" style="padding:4px 0;">
					<a style="font-size:small;" href="/mobi">Back to Home</a>
					</div>
	
		<div style="background-color:#ffffff; border-top:1px solid #000000; border-bottom:1px solid #000000; padding-left:2px;">
			<div style="font-size:medium; font-weight:bold; padding:3px 0; margin-bottom:4px;">Chiefs Have Appealing Options In Return Game</div>
								
											
													
			<img src="http://media.graytvinc.com/images/kansas_city_chiefs_article(1).jpg" width="239" height="159" />
			<br>
			
						
					<span style="font-size:8pt; color:#666666;">Reporter: Associated Press</span><br>
				
			
				 <!-- Video Links True -->
			<table>
						</table>
					
		<br />
								<span style="font-size:8pt;">August 5, 2011<br /><br />The Chiefs' return game got off to a promising start last year when rookie <span class="YLight"> Dexter McCluster </span> took a punt 94 yards for a momentum-swinging touchdown in the opener.<br /><br />   Kansas City couldn't keep it up all season with McCluster and<br />fellow second-round pick Javier Arenas.<br /><br />   The Chiefs signed receiver Steve Breaston this offseason, adding<br />even more depth and versatility to their return game.<br /><br />   Kansas City ranked 28th in the NFL on kickoff returns last season and 17th on punt returns. McCluster's score turned out to be its only  touchdown from the return game all season. The Chiefs did improve their average punt return by 4 yards from the previous year.<br /></span>
							
							</div>
	
				<div style="background-color:#ffffff; border-top:1px solid #000000; padding-left:2px; padding-top:4px; font-size:${item.mobileBannerSize};">
																					<div style="padding-top:4px; padding-bottom:5px;">
				<a href="http://www.kake.com/mobi/post?sid=126858768&spath=/sports/headlines&rpath=/mobi?storyid=126858768"><img height="15" src="http://media.graytvinc.com/designimages/comment_included.jpg"/> Post a Comment</a>
			</div>
					
									
		<div style="padding-top:4px; padding-bottom:5px;">
							<a href="/mobi?storyid=126858768&form=n"><img height="15" src="http://media.graytvinc.com/designimages/email_icon.jpg" />Send Story to a Friend</a>
					</div>
	
				<div style="padding-top:4px; padding-bottom:5px;">
			<a href="http://m.facebook.com/tos.php?api_key=103755732043&v=1.0&next=http%3A%2F%2Fwww.kake.com/mobi%2F%3FpostFB%3Dy%26storyid%3D126858768&cancel=http%3A%2F%2Fwww.kake.com/mobi%2F%3Fstoryid%3D126858768"><img height="15" src="http://media.graytvinc.com/designimages/facebook_25.jpg" />Send to Facebook</a>
		</div>
		
				<div style="padding-top:4px; padding-bottom:5px;">
			<a href="http://www.kake.com/mobi/?postTW=y&storyid=126858768"><img height="15" src="http://media.graytvinc.com/designimages/twitter_23.jpg" />Share to Twitter</a>
		</div>
	</div>
	<div style="background-color:#ffffff; border-top:1px solid #000000; padding-left:2px; padding-top:4px; font-size:${item.mobileBannerSize};">
										</div>
	   

<br>
	<div style="padding:5px 5px 0; text-align:center;">
		<a href="/mobi" style="color:#0000ff;">KAKE - Mobile Site Home</a>
	</div>
<form action="/mobi" action="GET" />
	<p style="font-weight:bold">Search:</p>
	<input type="text" name="search" size="20" />
	<input type="submit" value="Search" />
</form>
<div style="font-size:small; text-align:center; padding:5px;">Gray Television, Inc - Copyright 2002-2010 - Powered by Gray Interactive Media</div>
<img src="http://a.admob.com/c0?a=a14b4c691e9c689" alt="" width="1" height="1"/>

																		
	<div id="fullLink" style="text-align:center; padding:5px;font-size:small">
		<a href="/" onclick="viewNonMobileSite();">Full Site</a>	</div>
</div>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-12171421-7");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>

<!-- Kontera ContentLink(TM);-->
<script type='text/javascript'>
var dc_AdLinkColor = '#009600' ; 
var dc_PublisherID = 169271 ; 
</script>

</body>
</html>
