body {
    /*background-image: url("/images/light-tile.gif");*/
    /*background-repeat: repeat;*/

    background-color: #eee;
    /*background-image: url('/images/main_bg.jpg');*/
    background-repeat: no-repeat;
    background-position: 0px 60px;

    margin: 0px;

    overflow-y: scroll;
    overflow-x: hidden;
    /*overflow: hidden;*/
}

h1 {
    color: #fff;
    background: #444;
    background: -moz-linear-gradient(#444,#333);
    background: -webkit-linear-gradient(#444,#333);
    padding: 10px 20px;
    margin: 0;
    line-height: 1;
    font: 2em 'Helvetica''Lucida Grande';
    box-shadow: 0 1px 2px #999;
    border-bottom: 1px solid #333;
    position: relative;
}
h1 span {
    font-weight: normal;
    color: #888;
    border-left: 2px solid #555;
    padding-left: 10px;
}

.top_buttons {
    padding: 5px 20px;
    overflow: hidden;
    background: #eee;
    border-bottom: 1px solid #ddd;
}
.top_buttons .sec {
    border: 1px solid #ddd;
    float: left;
    padding: 5px;
    margin-right: 10px;
    background: #fff;
    border-radius: 6px;
    -webkit-border-radius: 4px;
    margin: 0 10px 0 0;
}
.top_buttons input[type="submit"] {
    text-shadow: 0 1px 0 #555;
    width: auto;
    padding: 5px 10px;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
    border: 0;
    line-height: 20px;
    display: inline-block;
    background: -moz-linear-gradient(rgba(255,255,255,.2),rgba(0,0,0,.2));
    background: -webkit-linear-gradient(rgba(255,255,255,.2),rgba(0,0,0,.2));
}
.top_buttons input[type="submit"]:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
    background: -moz-linear-gradient(rgba(0,0,0,.3), transparent);
    background: -webkit-linear-gradient(rgba(0,0,0,.3), transparent);
}
#live_preview {
    background-color: #5C8A43;
}
#email_preview {
    background-color: #326378;
}


input, textarea {
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    border: 1px solid #aaa;
    box-shadow: inset 0 1px 1px #ddd;
    -webkit-box-shadow: inset 0 1px 1px #ddd;
    padding: 5px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    outline: 0;
    line-height: 18px;
    width: 218px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

input:focus {
    border-color: #777;
}


.layer_sandbox {
    float: left;
    margin-left: 20px;
    background-image: url(/images/stripes.png);
    background-repeat:  repeat;
    border: 1px solid #AAA;
    border-radius: 8px;
    width: 700px;
    height: 350px;
}

.layer_view {
    position: absolute;
    left: 20px;
    top: 20px;
}

.layer_menu {
    width: 260px;
    float: left;
    margin-left: 20px;
    background: #EDEFEA;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #ddd;
}
.layer_menu ul {
    padding: 0;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
}
.layer_menu a {
    display: block;
}
.layer_menu li {
    list-style-type: none;
}

.layer_menu a {
    padding: 5px 10px;
    display: block;
    color: #617798;
    font-size: 1em;
    font-family: Arial sans-serif;
    text-decoration: none;
    border-top: 1px solid #ddd;
}

.layer_menu a:hover {
    color: #444;
    background: #f7f7f7;
}


.colorpicker {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 260px;
}
.colorpicker > div {
    width: 195px;
    height: 195px;
    margin: 0 auto;
}

#layers_zone {
    padding: 20px 0 0;
    background: #fff;
    position: relative;
}

#form-holder {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    background: #eee;
    display: block;
    padding: 10px 20px;
    overflow: hidden;
}

#colorpicker {
    float: left;
    margin-left: 60px;
    margin-top: 60px;
}

.form p {
    display: block;
    float: left;
    background: #fff;
    background: -moz-linear-gradient(#fff, #f7f7f7);
    background: -webkit-linear-gradient(#fff, #f7f7f7);
    padding: 5px;
    margin: 0 5px 5px 0;
    width: 230px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 0 #e7e7e7;
}

.form label {
    color: #777;
    font-size: .8em;
    margin: 0 0 5px;
    display: block;
    text-transform: capitalize;
}