<!DOCTYPE html>
<html>
<head>
  <title>Ipader</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
